@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@100&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.hero-body{
  background: url('../components/assets/HomeBackground.jpg');
  padding: 0 !important;
}

.logo{
  max-height: none !important;
  height: 100px;
}

// #artist{
//   font-size: 1.5rem;
//   font-weight: 400;
// }