@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@100&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.hero-body{
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.27)), url('../components/assets/HomeBackground.png');
  padding: 0 !important;
  background-size: cover;
}


.logo{
  max-height: none !important;
  height: 100px;
}

#navbar{
  justify-content: space-evenly;
}

.search-box{
  margin-top: 35px;
  margin-left: 60px;
}

.titlewords{
  margin-top: 375px;
  margin-left: 390px;
  color: white;
  font-size: large;
}

#add{
  margin-left: 50px;
}

#delete{
  margin-left: 50px;
}